---
name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule:
    # Run test at 03:04 UTC on mon,wed,fri
    - cron: "3 4 * * 1,3,5"

jobs:
  integration:
    name: Integration tests
    strategy:
      matrix:
        python: ["3.7", "3.8", "3.9", "3.10" ]
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Install extractor and ansible-core
        run: pip install .[core]

      - name: Run basic tests
        run: ./run.sh
        working-directory: ./tests/integration/basic

      - name: Run tests with doc fragments
        run: ./run.sh
        working-directory: ./tests/integration/doc_fragments
